In [1]:
import pandas as pd
df= pd.read_csv('kc_house_data.csv')

In [2]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503

In [3]:
df.iloc[:,10:]

,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,3,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,3,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,3,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,5,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,3,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
5,3,11,3890,1530.0,2001,0.0,98053,47.6561,-122.005,4760,101930
6,3,7,1715,?,1995,0.0,98003,47.3097,-122.327,2238,6819
7,3,7,1060,0.0,1963,0.0,98198,47.4095,-122.315,1650,9711
8,3,7,1050,730.0,1960,0.0,98146,47.5123,-122.337,1780,8113
9,3,7,1890,0.0,2003,0.0,98038,47.3684,-122.031,2390,7570
10,3,8,1860,1700.0,1965,0.0,98007,47.6007,-122.145,2210,8925
11,4,7,860,300.0,1942,0.0,98115,47.6900,-122.292,1330,6000
12,4,7,1430,0.0,1927,NaN,98028,47.7558,-122.229,1780,12697
13,4,7,1370,0.0,1977,0.0,98074,47.6127,-122.045,1370,10208
14,3,7,1810,0.0,1900,0.0,98107,47.6700,-122.394,1360,4850
15,3,9,1980,970.0,1979,0.0,98126,47.5714,-122.375,2140,4000
16,3,7,1890,0.0,1994,0.0,98019,47.7277,-121.962,1890,14018
17,4,7,1600,0.0,1916,0.0,98103,47.6648,-122.343,1610,4300
18,4,7,1200,?,1921,0.0,98002,47.3089,-122.210,1060,5095
19,4,7,1250,0.0,1969,0.0,98003,47.3343,-122.306,1280,8850
20,4,7,860,760.0,1947,0.0,98133,47.7025,-122.341,1400,4980
21,3,9,2330,720.0,1968,0.0,98040,47.5316,-122.233,4110,20336
22,3,8,2270,0.0,1995,0.0,98092,47.3266,-122.169,2240,7005
23,3,7,1070,0.0,1985,NaN,98030,47.3533,-122.166,1220,8386
24,4,8,2450,0.0,1985,0.0,98030,47.3739,-122.172,2200,6865
25,5,6,1710,0.0,1941,0.0,98002,47.3048,-122.218,1030,4705
26,3,8,1750,700.0,1915,NaN,98119,47.6386,-122.360,1760,3573
27,5,8,1400,0.0,1909,0.0,98112,47.6221,-122.314,1860,3861
28,3,7,790,730.0,1948,NaN,98115,47.6950,-122.304,1520,6235
29,3,8,2570,0.0,2005,0.0,98052,47.7073,-122.110,2630,6026
...,...,...,...,...,...,...,...,...,...,...,...
21567,4,7,710,0.0,1943,0.0,98102,47.6413,-122.329,1370,1173
21568,3,7,940,320.0,2007,0.0,98116,47.5621,-122.384,1310,1415
21569,3,7,1870,0.0,2009,0.0,98042,47.3339,-122.055,2170,5399
21570,3,8,1430,0.0,2009,0.0,98107,47.6707,-122.381,1430,1249
21571,3,8,1520,0.0,2006,0.0,98125,47.7337,-122.309,1520,1497
21572,3,8,1020,190.0,2007,0.0,98117,47.6756,-122.375,1210,1118
21573,3,8,2540,0.0,2010,0.0,98038,47.3452,-122.022,2540,4571
21574,3,11,3110,1800.0,2007,0.0,98074,47.6502,-122.066,4560,11063
21575,3,8,2770,0.0,2014,NaN,98178,47.5001,-122.232,1810,5641
21576,3,8,1190,0.0,2008,NaN,98103,47.6542,-122.346,1180,1224
21577,3,10,4170,0.0,2006,NaN,98056,47.5354,-122.181,3030,7980
21578,3,8,2500,0.0,2008,0.0,98042,47.3749,-122.107,2530,5988
21579,3,8,1480,50.0,2006,NaN,98103,47.6533,-122.346,1530,1282
21580,3,9,3600,0.0,2014,0.0,98059,47.4822,-122.131,3550,9421
21581,3,10,3410,?,2007,NaN,98040,47.5653,-122.223,2290,10125
21582,3,9,3118,0.0,2014,0.0,98001,47.2931,-122.264,2673,6500
21583,3,9,3990,0.0,2003,NaN,98053,47.6857,-122.046,3370,6814
21584,3,11,4470,0.0,2008,0.0,98004,47.6321,-122.200,2780,8964
21585,3,8,1425,0.0,2008,0.0,98125,47.6963,-122.318,1285,1253
21586,3,6,1500,0.0,2014,0.0,98010,47.3095,-122.002,1320,11303
21587,3,8,2270,0.0,2003,0.0,98065,47.5389,-121.881,2270,5731
21588,3,8,1490,0.0,2014,0.0,98144,47.5699,-122.288,1400,1230
21589,3,9,2520,0.0,2014,0.0,98056,47.5137,-122.167,2520,6023
21590,3,9,2600,910.0,2009,0.0,98136,47.5537,-122.398,2050,6200
21591,3,8,1180,130.0,2008,0.0,98116,47.5773,-122.409,1330,1265
21592,3,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,3,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,3,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,3,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,3,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357